<div class="container-fluid">
<div class="row">
<div class="col-md offset-md-3">
<form class="form-group">

    <label>Semester/class</label>
    <input type="text" class="form-control"> <br><br>
    <!-- <ng-select [items]="category" bindLabel="name" bindValue="id"></ng-select> -->
    <label>Select Category</label>
    <select class="form-control">
        <option value="1">Category 1</option>
        <option value="2">Category 2</option>
        <option value="3">Category 3</option>
    </select>
    <button class="btn btn-primary">Done</button>
</form>  
</div>
<div class="col-md-3"></div>
</div>

