
<u><h2 class="mb-2">B.Tech ECE notes for Microwave</h2></u>
<table class="table">
    <tr>
        <th>
            Description:
        </th>
        <td>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cum molestiae nesciunt vel voluptatum delectus distinctio autem reiciendis at! Nesciunt iusto rerum voluptates, esse minus dignissimos qui, minima in illo laboriosam dolorum doloremque. Nemo ab, omnis tenetur labore officiis necessitatibus dicta ducimus ex accusantium doloremque asperiores assumenda autem harum fugiat. Esse.
        </td>
    </tr>
    <tr>
        <th>
            Number of pages:
        </th>
        <td>
            175
        </td>
    </tr>
    <tr>
        <th>
            Price:
        </th>
        <td>
            Rs. 150
        </td>
    </tr>
    <tr>
        <th>
            PDF:
        </th>
        <td>
           file
        </td>
    </tr>

</table>


<div
    class="profile-block profile-detail-block d-flex flex-wrap align-items-center mt-5">
    <div class="d-flex mb-3 mb-lg-0 mb-md-0" >
        <img src="../../assets/images/digitalnotesauthor.jpeg"
            class="profile-block-image img-fluid" alt="Image not available">
           
      

        <p>
            <br>
           <strong>Author: Elsa</strong>
            <img src="..." class="verified-image img-fluid" alt="">
           
            <i><a routerLink="/layout/aboutauthor">Know more about Elsa</a></i>
        </p> <br>
    

    </div>
    <button class="btn btn-danger mx-2" (click)="decline()">DECLINE</button>
    <button class="btn btn-success" (click)="approve()">APPROVE</button>
