<ngx-spinner
  bdColor="rgba(0, 0, 0, 1)"
  template="<img src='https://i.pinimg.com/originals/ed/b8/b3/edb8b3da20cdc65f496b6b4dc3fe463d.gif' />">
  <p style="color: white" > Loading... </p>
</ngx-spinner>

<main>


    <section class="about-section section-padding" id="section_2">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 mx-auto">
                    <div class="pb-5 mb-5">
                        <div class="section-title-wrap mb-4">
                            <h4 class="section-title">User Profile</h4>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <img src="../../assets/images/digitalnotesauthor.jpeg" class="img-fluid" alt="">
                            </div>
                            <div class="col-md">
                              <table class="table">
                                <tr>
                                    <th>Name</th>
                                    <td>Elsa</td>
                                </tr>
                                <tr>
                                    <th>Education:</th>
                                    <td>Btech in Electronics from DAVIET</td>
                                </tr>
                                <tr>
                                    <th>How Elsa describes herself</th>
                                    <td>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium atque vel, possimus quidem ex quam beatae voluptatum earum nemo iure repudiandae vero ad. Minus, laudantium. Eos vel maxime deserunt laudantium veniam nemo harum suscipit exercitationem incidunt ipsam. Culpa fugit, vitae eaque voluptatibus tenetur earum error in praesentium ipsa perferendis cumque.</td>
                                </tr>
                                <tr>
                                    <th>Specialization</th>
                                    <td>
                                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Assumenda, deleniti.
                                    </td>
                                </tr>
                                <tr>
                                    <th>Rating of notes according to learners</th>
                                    <td><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-half"></i></td>
                                </tr>
                              </table>
                    
                            </div>
                        </div>

                            
                            

                        <img src="images/medium-shot-young-people-recording-podcast.jpg"
                            class="about-image mt-5 img-fluid" alt="">
                    </div>
                </div>



                <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                    <div class="team-thumb bg-white shadow-lg">
                        <img src="images/profile/cute-smiling-woman-outdoor-portrait.jpg"
                            class="about-image img-fluid" alt="">

                        <div class="team-info">
                            <h4 class="mb-2">
                                Taylor
                                <img src="images/verified.png" class="verified-image img-fluid" alt="">
                            </h4>

                            <span class="badge">Modeling</span>

                            <span class="badge">Fashion</span>
                        </div>

                        <div class="social-share">
                            <ul class="social-icon">
                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-twitter"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-facebook"></a>
                                </li>

                                <li class="social-icon-item">
                                    <a href="#" class="social-icon-link bi-pinterest"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</main>


