<ngx-spinner
  bdColor="rgba(0, 0, 0, 1)"
  template="<img src='https://i.pinimg.com/originals/ed/b8/b3/edb8b3da20cdc65f496b6b4dc3fe463d.gif' />">
  <p style="color: white" > Loading... </p>

</ngx-spinner>
<main>


    <section class="about-section section-padding" id="section_2">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 mx-auto">
                    <div class="pb-5 mb-5">
                        <div class="section-title-wrap mb-4">
                            <h4 class="section-title">About NotesMantra</h4>
                        </div>

                       <h6>NotesMantra</h6>

                        <p>is an online website where you can sell and buy notes. Objective of this platform is to spread knowledge in form of PDFs which can help the seller materialistically and buyer to gain knowledge! 
                            This was started in the year 2023. The notes are verified by the admin's team to ensure the delivery of quality content.<br><br>
                           It is not possible for everyone to write each and every point in their notebooks. We are thankful to help learners to save their time as someone else will be there for their rescue. The seller can add the link of the video if they have a channel which could be a cherry on the top of the cake.</p>
                            <p>Option of both Hardcopy and Softcopy is available according to the need of the learner and every user must feel free to share their knowledge with people! If your're good in writing notes don't waste your talent in just preserving them!
                            </p>

                            
                            

                        <img src="images/medium-shot-young-people-recording-podcast.jpg"
                            class="about-image mt-5 img-fluid" alt="">
                    </div>
                </div>


            </div>
        </div>
    </section>
</main>
