<ngx-spinner
  bdColor="rgba(0, 0, 0, 1)"
  template="<img src='https://i.pinimg.com/originals/ed/b8/b3/edb8b3da20cdc65f496b6b4dc3fe463d.gif' />">
  <p style="color: white" > Loading... </p>
</ngx-spinner>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Password</th>
        <th>Contact</th>
        <th>Photo</th>
        <th>Course</th>
        <th>Institute</th>
        <th>Specialization</th>
        <th>Address</th>
        <th>Usertype</th>
        <th>Action</th>
    </tr>
    <tr>
        <td>@@@</td>
        <td>@@@</td>
        <td>@@@</td>
        <td>@@@</td>
        <td>&&&</td>
        <td>&&&</td>
        <td>%%%%</td>
        <td>@@@</td>
        <td>@@@</td>
        <td>@@@</td>
        <td><a><i class="bi bi-pencil-square mx-1 text-success"></i></a>
        <a><i class="bi bi-trash text-danger mx-1"></i></a>
        <a ><i class="bi bi-eye-fill text-primary"></i></a>
        </td>

    </tr>
   
  </table>
