
<ngx-spinner
  bdColor="rgba(0, 0, 0, 1)"
  template="<img src='https://i.pinimg.com/originals/ed/b8/b3/edb8b3da20cdc65f496b6b4dc3fe463d.gif' />"> <br><br><br><br><br>
  <p style="color: white" > Loading... </p>

</ngx-spinner>

<h4>Steps to upload your notes</h4>
<div>
    <p><b>Step 1.</b> First step is to add your pdf and other required details for selling your notes! Be carefull while filling the details as it goes for approval first!</p>
    <p><b>Step 2.</b>Next step is to add your details which will be shown to the learners to get to know about the author!</p>
    <p><b>Step 3.</b>Next, you have to subscribe to any of the listed plans!</p>
    <p><b>Step 4.</b>Your notes will be verified and checked by the team!</p>
    <p><b>Step 5.</b>After approval you're completely ready to share it with learners!</p>
</div>
<button class="btn btn-primary" routerLink="/layout/uploadnotes">Got it!</button>