<ngx-spinner
  bdColor="rgba(0, 0, 0, 1)"
  template="<img src='https://i.pinimg.com/originals/ed/b8/b3/edb8b3da20cdc65f496b6b4dc3fe463d.gif' />">
  <p style="color: white" > Loading... </p>
</ngx-spinner>

<div class="container-fluid">
<div class="row">

    <div class="col-md offset-md-3">
<form class="form-group">
    <label>Course Cover:</label>
    <input class="form-control" type="file"><br>

    <label>Course Name:</label>
    <input class="form-control"  type="text"><br>

    <label>Description</label>
    <textarea class="form-control" name="description" cols="30" rows="10"></textarea> <br>
    <button class="btn btn-primary">Done</button>
</form>
</div>
<div class="col-md-3"></div>
</div>
</div>
