<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Course</th>
        <th>Semester</th>
        <th>Title</th>
        <th>Description</th>
        <th>PDF</th>
        <th>Action</th>
    </tr>
    <tr>
        
        <td>&&&</td>
        <td>&&&</td>
        <td>%%%%</td>
        <td>@@@</td>
        <td>@@@</td>
        <td>@@@</td>
        <td>
            <a routerLink="/layout/editnotes"><i class="bi bi-pencil-square mx-1 text-success"></i></a>
            <a><i class="bi bi-trash text-danger mx-1"></i></a>
            <a routerLink="/layout/view"><i class="bi bi-eye-fill text-primary"></i></a>
        </td>

    </tr>
  </table>

