<ngx-spinner
  bdColor="rgba(0, 0, 0, 1)"
  template="<img src='https://i.pinimg.com/originals/ed/b8/b3/edb8b3da20cdc65f496b6b4dc3fe463d.gif' />"> <br><br><br><br><br>
  <p style="color: white" > Loading... </p>

</ngx-spinner>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    
      
    <div class="card-body">
      <h5 class="card-title">Upload Only this time!</h5>
      <h6 class="card-subtitle mb-2 text-muted">Only @70</h6>
      <p class="card-text">You can upload one note for only Rs. 70</p>
      </div>
      
    </div>
  </div>
</div>
<div class="col-md-4 d-flex justify-content-center">
  <div class="card" style="width: 18rem;">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">

      
      
    <div class="card-body">
      <h5 class="card-title">Subscribe for 5 notes!</h5>
      <h6 class="card-subtitle mb-2 text-muted">Only @270</h6>
      <p class="card-text">You can upload five notes with NO TIME LIMIT</p>
      </div>
      </div>
      
    </div>
    
</div>
<div class="col-md-4 d-flex justify-content-center">
    <div class="card" style="width: 18rem;">
      <div class="form-check">
          <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option3">
  
        
        
      <div class="card-body">
        <h5 class="card-title">Subscribe for 3 months!</h5>
        <h6 class="card-subtitle mb-2 text-muted">Only @400</h6>
        <p class="card-text">Upload any number of notes for three months!</p>
        </div>
        </div>
        
      </div>
      
  </div>
  <div class="row">
<div class="col-md-5"></div>
      <button style="height: 50px; width: 100px;" class="btn btn-success my-5">Upload!</button>
    </div>

  </div>
</div> 

